*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: 'Fraunces', sans-serif;
    font-family: 'Barlow', sans-serif;
}

img{
    object-fit: cover;
}